{% extends "login_base.htm" %}
 
{%block content %}

<div class="container">
<form class="form-signin" action="/login/" method ="POST">
{% csrf_token %}
<h2 class="form-signin-heading">Please sign in</h2>
	<input type="text" class="input-block-level" name="username" placeholder="name"/>
	<input type="password"class="input-block-level" name="password" placeholder="password"/>
		<input type="submit" class="btn btn-large btn-primary" name="login" value="登录"
		 />
</form>
 </div>
 {% endblock %}

      
